﻿@model AppPruebaTekus.Models.ServicesViewModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Servicios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Service.Id, new { id = "Id" })

    <div class="form-group">
        @Html.LabelFor(model => model.Service.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Service.Name, new { htmlAttributes = new { @class = "form-control", id = "Name" } })
            @Html.ValidationMessageFor(model => model.Service.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Service.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Service.Email, new { htmlAttributes = new { @class = "form-control", id = "Email" } })
            @Html.ValidationMessageFor(model => model.Service.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Service.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Service.Price, new { htmlAttributes = new { @class = "form-control",id="Price"} })
            @Html.ValidationMessageFor(model => model.Service.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Service.SupplierId, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control", id = "SupplierId" })
            @Html.ValidationMessageFor(model => model.Service.SupplierId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input value="Guardar" class="btn btn-success" id="btnSaved" onclick="Saved()" />
        </div>
    </div>
</div>
}

<h2>Paises</h2>
<div class="form-group">
    @Html.LabelFor(model => model.Service.CountryId, "Pais", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Service.CountryId, "", new { @class = "text-danger" })
    </div>
</div>
<br></br>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input class="btn btn-primary" onclick="AddCountry()" value="Agregar" id="btnAddCountry" />
    </div>
</div>
<br></br>
@if (Model.ServiceCountries.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.ServiceCountries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "DeleteCountry", new { id = item.Id }, new { @class = "btn btn-danger " })
                </td>
            </tr>
        }
    </table>
}


<div>
    @Html.ActionLink("Regresar a listado", "Index", null, new { @class = "btn btn-info" })
</div>
<script src="~/Scripts/EditService.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    var urlSaved = '@Url.Action("Saved")';
    var urlAddCountry = '@Url.Action("AddCountry")';
    var urlDeleteCountry = '@Url.Action("DeleteCountry")';
    </script>
}
