﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="container"></div>
<div id="container2"></div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <script src="~/Scripts/Dash1.js"></script>
    <script>
        var urldash1 = "https://" + '@Context.Request.Url.Host' + ":" + '@Context.Request.Url.Port' + "/api/GetDash1";
        var urldash2 = "https://" + '@Context.Request.Url.Host'+ ":"+'@Context.Request.Url.Port'+"/api/GetDash2";
    </script>
}

